<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-brand">
        <svg id="logo" height="25" width="160" class="align-middle font-weight-bold" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
            <image x="0" y="0" height="25" width="160"  xlink:href="/quadLogo.svg" />
        </svg>
    </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home fa-fw" style="color:darkblue"></i> Home</a>
            </li>
        </ul>
    </div>
</nav>