#####################################################################
## Ignore workspace configurations.
#####################################################################
# MacBook OS
.DS_Store
.idea/
.vscode/
#####################################################################
## Ignore directories created by npm install.
#####################################################################
node_modules/
npm-debug.log*


# misc
.Bak
.bak
debug.log